

<h1>Adicionar: Pedido Pagamento Extorno</h1>

<div class="text-right">
	<a href="principal.php#!pedido_pagamento_extorno" class="btn btn-primary" accesskey="v">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Voltar
	</a>
</div>
<br>
<div class="row">
<div class="col-md-4">
	<br>Motivo &nbsp;&nbsp;<span style='color: red'>*</span>
	<input type="text" maxlength="200" class="form-control" id="motivo_pedido_pagamento_extorno" accesskey="i">
</div>
<div class="col-md-4">
	<br>Pedido Pagamento &nbsp;&nbsp;<span style='color: red'>*</span>
	<div id="pedido_pagamentoDiv">
		<input type="text" value="Aguardando seleção..." class="form-control" disabled>
	</div>
</div>
<div class="col-md-4">
	<br>Ativo? &nbsp;&nbsp;<span style='color: red'>*</span>
	<select class="form-control" id="bool_ativo_pedido_pagamento_extorno" >
		<option value="1" selected>Sim</option>
		<option value="0">Não</option>
	</select>
</div>
	<div class="col-md-12 text-center">
		<br>
		
			<input type="hidden" id="data_atualizacao_pedido_pagamento_extorno">
			<script>$("#data_atualizacao_pedido_pagamento_extorno").val("1")</script>
			
			<input type="hidden" id="usuario_id">
			<script>$("#usuario_id").val($("#usuario").val())</script>
			
		<button class="btn btn-success" onclick='gravarRegistro()' accesskey="s">
			<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Gravar
		</button>
	</div>
</div>

<script type="text/javascript">
	verificaAcess('pedido_pagamento_extorno');

	
</script>

<script type="text/javascript" src="app/js/ajax/ajax_adicionar_pedido_pagamento_extorno.js"></script>

<script type="text/javascript" src="app/js/combo/pedido_pagamentoCombo.js"></script>
