
<h1>Pedido Pagamento</h1>

<div class="col-md-4 col-xs-12">
	<input class="form-control" placeholder="Pesquisar..." aria-describedby="basic-addon2" id="pesquisa_pedido_pagamento" accesskey="b" onkeyup='buscar_pedido_pagamento()'>
</div>



<div class="col-md-8 col-xs-12 text-right">
	<a href="principal.php#!adicionar_pedido_pagamento" class="btn btn-success" accesskey="a">
		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adicionar Pedido Pagamento
	</a>
</div>

<br><br>

<div id="conteudoPedido_pagamento"></div>

<script type="text/javascript">
	verificaAcess('pedido_pagamento');
</script>

<script type="text/javascript" src="app/js/ajax/ajax_lista_pedido_pagamento.js"></script>
