
<h1>Unidade Medida</h1>

<div class="col-md-4 col-xs-12">
	<input class="form-control" placeholder="Pesquisar..." aria-describedby="basic-addon2" id="pesquisa_unidade_medida" accesskey="b" onkeyup='buscar_unidade_medida()'>
</div>



<div class="col-md-8 col-xs-12 text-right">
	<a href="principal.php#!adicionar_unidade_medida" class="btn btn-success" accesskey="a">
		<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Adicionar Unidade Medida
	</a>
</div>

<br><br>

<div id="conteudoUnidade_medida"></div>

<script type="text/javascript">
	verificaAcess('unidade_medida');
</script>

<script type="text/javascript" src="app/js/ajax/ajax_lista_unidade_medida.js"></script>
